{$value}
-----
<?php

use Latte\Runtime as LR;

final class Template213140cb46 extends Latte\Runtime\Template
{

    public function main(): array
    {
        extract($this->params);
        echo LR\Filters::escapeHtmlText($value) /* line 1 */;
        echo "\n";
        return get_defined_vars();
    }

}
