{$value}
-----
<?php

use Latte\Runtime as LR;

final class Templatece068e4c49 extends Latte\Runtime\Template
{

    public function main(array $ʟ_args): void
    {
        extract($ʟ_args);
        unset($ʟ_args);

        echo LR\Filters::escapeHtmlText($value) /* line 1 */;
        echo "\n";
    }
}
