{embeddedSvg "dot.svg", "size" => "big"}
-----
<?php

use Latte\Runtime as LR;

final class Templated10bf031cb extends Latte\Runtime\Template
{

    public function main(): array
    {
        extract($this->params);
        
        echo "<svg";
        foreach (["size" => "big"] + ['xmlns' => 'http://www.w3.org/2000/svg', 'width' => '9', 'height' => '9'] as $n => $v) {
            if ($v === null || $v === false) {
                continue;
            } elseif ($v === true) {
                echo " " . LR\Filters::escapeHtmlText($n);
            } else {
                echo " " . LR\Filters::escapeHtmlText($n) . "=\"" . LR\Filters::escapeHtmlText($v) . "\"";
            }
        };
        echo ">" . '<circle cx="4.5" cy="4.5" r="3.5"/>' . "</svg>";
        echo "\n";
        return get_defined_vars();
    }

}
