{embeddedSvg "dot.svg"}
-----
<?php

use Latte\Runtime as LR;

final class Template%s extends Latte\Runtime\Template
{

    public function main(array $ʟ_args): void
    {
    }


    public function prepare(): array
    {
        extract($this->params);

        echo "<svg";
        foreach ([] + ['xmlns' => 'http://www.w3.org/2000/svg', 'width' => '9', 'height' => '9'] as $key => $value) {
            if ($value === null || $value === false) {
                continue;
            } elseif ($value === true) {
                echo " " . LR\Filters::escapeHtmlText($key);
            } else {
                echo " " . LR\Filters::escapeHtmlText($key) . "=\"" . LR\Filters::escapeHtmlText($value) . "\"";
            }
        };
        echo ">" . '<circle cx="4.5" cy="4.5" r="3.5"/>' . "</svg>";
        echo "\n";
        return get_defined_vars();
    }
}
